.business {
    max-width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #060606;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px #000;
}

.businessImg {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.businessHeading {
    margin-bottom: 10px;
    font-size: 20px;
}

.business:hover {
    cursor: pointer;
    box-shadow: 10px 10px 20px #000;
}