.business {
    max-width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #060606;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 25px;
    box-shadow: 5px 5px #000;
    transition: all 0.3s ease;
}

.businessImg {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.businessHeading {
    margin-bottom: 10px;
    font-size: 20px;
}

.business:hover {
    box-shadow: 13px 13px #000;
    transform: translate(-8px, -8px);
}

.data {
    font-weight: bold;
    color: rgb(230, 172, 103);
}